body {
    background-image: url("miffy.png");
    background-repeat: no-repeat;
    background-position: 200px 95%;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    padding-top: 10px; padding-bottom: 10px;
    width: 350px;
    border-style: solid;
    border-width: medium;
    border-color: orange;
}
li {
    padding: 5px;
    font-size: large;
}